
<%-include('parts/top.ejs') %>
<br><br><br><br>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="/images/product_06.jpg" alt="">
      </div>
      <div class="col-sm">
        <h1><%= books.title %></h1>
        <h4><%= books.price %></h4>
        <h5><%= books.auther %></h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio accusantium aut tempore voluptatem, ratione id atque. Maiores assumenda sint iure reprehenderit necessitatibus nihil, iste ab sapiente accusantium accusamus amet officia!</p>

      </div>
      
    </div>
  </div>
  <br><br><br><br>

<%-include('parts/bottom.ejs') %>